In [ ]:
import numpy as np
import pandas as pd
import pickle

In [ ]:
df = pd.read_csv('Salary_Data.csv')
df.head()

   hours-per-week     education  workclass  age  YearofExperience  fnlwgt
0              40          11th    Private   25               2.5  226802
1              50       HS-grad    Private   38               3.8   89814
2              40    Assoc-acdm  Local-gov   28               2.8  336951
3              40  Some-college    Private   44               4.4  160323
4              30  Some-college          ?   18               1.8  103497

In [ ]:
df = df[df['workclass'] != '?']

In [ ]:
df = df.drop(['age'],axis=1)
y = df['fnlwgt'].values
y = y.reshape(len(y),-1)
x = df.drop(['fnlwgt'],axis=1)
x = x.values
x = x.reshape(len(x),-1)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct2 = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1,2])],remainder='passthrough')
xe = ct2.fit_transform(x)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# xes = sc.fit_transform(xe)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=0)
dtr.fit(xe,y)
##xgb.score(xe,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
# a = [[70,'Doctorate','Local-gov',7]]
# ae = ct.transform(a)
# dtr.predict(ae)

In [ ]:
filename = 'model2_ct.pkl'
pickle.dump(ct2,open(filename,'wb'))